<h1> New Idea</h1>

<%= form_for @idea do |f|%>
<%= f.text_field :name, placeholder: "Name" %>
<%= f.text_field :description, placeholder: "Description" %>
<%= f.label :category_id, "Category" %>
<%= f.collection_select :category_id, Category.order(:title),:id, :title, prompt: true %>
<%= f.submit %>
<% end %>
